/* reset */
$min-width: 320px; 
$max-width: 1170px; 
$max-width-sm: 1170px; 
$base-bg: #FFF; 
$base-font-size: 16px; 
$base-line-height: 1.3; 
$base-font-family: 'Exo2', sans-serif;

$link-color: #df4f48;
$default-transition:all 0.2s linear;

/* main variables */

$color-yellow:#ffcc00;
$color-black:#000;
$color-white:#fff;

$color-dark: #212121;
$color-green: #759f05;
$color-white: #fff;
$color-red: #df4e49;
$color-grey: #4c5055;

$color-blue:blue;




